<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Tenisowy Klub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/register}">Zarejestruj</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Navigation -->
<div class="login-container">
    <div class="row">
        <div class="col-md-4 mt-5">
            <form method="post" th:action="@{/login}">
                <div class="form-group">
                    <label for="login">Email:</label>
                    <input id="login" type="text" placeholder="Enter your email" autocomplete="off" class="form-control" name="username"/>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input id="password" type="password" placeholder="Enter your password" autocomplete="off" class="form-control" name="password"/>
                </div>
                <div th:if="${param.error}" class="error-message">
                    Błąd: Niepoprawny email lub hasło!
                </div>
                <button class="btn btn-primary" type="submit" value="Sign In">Login</button>
            </form>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <!-- Informacje o firmie -->
            <div class="col-md-4">
                <h5 class="text-uppercase">Tenisowy Klub</h5>
                <p>Najlepszy klub tenisowy w mieście. Oferujemy doskonałe korty oraz profesjonalną obsługę.</p>
            </div>

            <!-- Kontakt -->
            <div class="col-md-4">
                <h5 class="text-uppercase">Kontakt</h5>
                <ul class="list-unstyled">
                    <li>Telefon: +48 123 456 789</li>
                    <li>Email: kontakt@tenisowyklub.pl</li>
                    <li>Adres: ul. Sportowa 10, 00-123 Warszawa</li>
                </ul>
            </div>

            <!-- Linki pomocnicze -->
            <div class="col-md-4">
                <h5 class="text-uppercase">Przydatne linki</h5>
                <ul class="list-unstyled">
                    <li><a href="/rules" class="text-white">Regulamin</a></li>
                    <li><a href="/privacy" class="text-white">Polityka prywatności</a></li>
                    <li><a href="/contact" class="text-white">Skontaktuj się z nami</a></li>
                </ul>
            </div>
        </div>
        <hr class="bg-light">
        <div class="text-center">
            <p class="mb-0">© 2025 Tenisowy Klub. Wszelkie prawa zastrzeżone.</p>
        </div>
    </div>
</footer>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>